@model IEnumerable<Huerbog.Models.UserList.UserListModel>
@{
    ViewData["Title"] = "indexAdmin";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav.css" />
<link rel="stylesheet" href="~/css/menuLateral.css" />
<link rel="stylesheet" href="~/css/neon1.css" />

<style>
    .img-container{
        justify-content:center;
    }
</style>

<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>
    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<!-- Use any element to open the sidenav -->

<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>


<div class="main">
    <center>
        <br />
        <h1>Página de administración del sitio</h1>
        <hr />
        <h5>
            Bienvenido. Desde aquí podrá realizar unas configuraciones en los usuarios del sitio, publicaciones y ver
            la lista con todas las huertas registradas hasta el momento.
        </h5>
    </center>
    <br /> <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="container mb-2" style="text-align:center">
                <div class="row img-container">
                    <img src="~/Imagenes/user.png" height="95" />
                </div>
                <br />
                <a asp-action="listUsers" class="btn btn-primary btn-admin">
                    <span id="span11"></span>
                    <span id="span22"></span>
                    <span id="span33"></span>
                    <span id="span44"></span>
                    Ver usuarios registrados
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container mb-2" style="text-align:center">
                <div class="row img-container">
                    <img src="~/Imagenes/check-box-1294836_1280.png" height="95" />
                </div>
                <br />
                <a asp-action="getReportedPost" class="btn btn-primary btn-admin">
                    <span id="span11"></span>
                    <span id="span22"></span>
                    <span id="span33"></span>
                    <span id="span44"></span>
                    Ver publicaciones reportadas
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container mb-2" style="text-align:center">
                <div class="row img-container">
                    <img src="~/Imagenes/noun_directory_114026.png" height="95" />
                </div> 
                <br />
                <a asp-action="viewDirHuertas" class="btn btn-primary btn-admin">
                    <span id="span11"></span>
                    <span id="span22"></span>
                    <span id="span33"></span>
                    <span id="span44"></span>
                    Ver directorio de huertas
                </a>
            </div>
        </div>

    </div>
</div>

<br />
<br />