@model Huerbog.Models.Contactarse


@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav2.css" />
<link rel="stylesheet" href="~/css/menuLateral.css" />
<link rel="stylesheet" href="~/css/NavigationPanel.css" />
<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<div id="mySidenav" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>
    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<!-- Use any element to open the sidenav -->

<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>

<div class="main">
    <h1>Contactarse</h1>

    <form method="post" asp-action="Contactarse">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            <input hidden asp-for="IdPost" />
        </div>

        <div class="form-group">
            <label asp-for="nombre" class="control-label">Nombre:</label>
            <input asp-for="nombre" name="nombre" class="form-control" required />
            <span asp-validation-for="nombre" name="nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="apellido" class="control-label">Apellido</label>
            <input asp-for="apellido" name="apellido" class="form-control" required />
            <span asp-validation-for="apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="correo" class="control-label">Correo:</label>
            <input asp-for="correo" name="correo" class="form-control" type="email" required placeholder="ejemplo@mail.com" />
            <span asp-validation-for="correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="telefono" class="control-label">Telefono / Celular:</label>
            <input asp-for="telefono" name="telefono" class="form-control" type="tel" required placeholder="3187126721" />
            <span asp-validation-for="telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="mensaje" class="control-label">Mensaje o pregunta:</label>
            <textarea asp-for="mensaje" rows="4" name="mensaje" class="form-control" type="tel" required></textarea>
            <span asp-validation-for="mensaje" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar Mensaje" class="btn btn-primary" />
        </div>
    </form>





    <div>
        <a asp-controller="ForoControllerMVC" asp-action="IndexForoList">Regresar</a>
        <br>
        <br>
        <br>
    </div>
</div>
<script src="../js/site.js"></script>
