@model IEnumerable<Huerbog.Models.ForoList.ForoListModel>

@{
    ViewData["Title"] = "IndexForoListUserLog";
    Layout = "_LayoutRegistrado";
}

<link rel="stylesheet" href="~/css/estilos.css" />

<div class="sidenav">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Inicio</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="UsuariosControllerMVC" asp-action="login">Categorias</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="UsuariosControllerMVC" asp-action="login">Mapa huertas</a>
</div>

<div class="main">
    <div class="container mb-5">
        <ul class="nav nav-tabs col-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link active" href="#">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ofrecimiento y solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Generales</a>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-12 col-md-9">
                <!--Un articulo-->
                <div class="row mb-4">
                    <!--el foreach hace que lo de abajo se repita tantas veces como encuentre registros en la lista del modelo
                        ej: si hay 10 registros en la tabla Foro entonces mostrará 10 veces dichas entradas-->
                    @foreach (var item in Model)
                    {
                        <div class="col-3">
                            <img src="~/Imagenes/1.jpg" alt="" class="img-fluid">
                            <a href="#" class="lead text-center">Ubicación</a>

                        </div>

                        <div class="col-9">
                            <!--titulo post-->
                            <a class="h3" id="divTitulo" asp-route-id="@item.IdPost">
                                @Html.DisplayFor(modelItem => item.TituloPost)
                            </a>

                            <!--descripcion post-->
                            <p id="divDescripcion">
                                @Html.DisplayFor(modelItem => item.DescPost)
                            </p>

                            <a>
                                Fecha de publicación: @Html.DisplayFor(modelItem => item.FechaPublicacion)
                            </a>

                            <a>
                                <div>
                                    Categoria de publicación:
                                    <div>
                                        @if (item.IdCatPublFk == 1)
                                        {
                                            <div>
                                                General
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                Comercio
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                            <!--correo-->
                            <a href="mailto:">Contactarse: <label id="divCorreo"></label></a>
                        </div>
                    }
                </div>
                <!--Fin articulo-->
                <!--Barra números-->

                <div class="btn-toolbar d-flex justify-content-center mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a asp-controller="Home" asp-action="index"> <button type="button" class="btn btn-primary active">Inicio</button> </a>
                        <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button>
                        <button type="button" class="btn btn-primary">4</button>
                        <button type="button" class="btn btn-primary">Final</button>
                    </div>
                </div>


            </div>
            <!--aside-->
            <div class="col-3">

            </div>
            <!--Fin aside-->
        </div>
    </div>
</div>

