@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 430px;
        /* The height is 400 pixels */
        width: 60%;
        /* The width is the width of the web page */
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 9%; /* Stay at the top */
        left: 0;
        background-color: #0f111d; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

        .sidenav a {
            padding: 8px 8px 8px 20px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/menuLateral.css" />
<link rel="stylesheet" href="~/css/NavigationPanel.css" />

<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }



</script>


<div id="mySidenav" class="sidenav1">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>
    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<!-- Use any element to open the sidenav -->

<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>

<script>
    /*  // Initialize and add the map
      function initMap() {
          // The location of Uluru
          const uluru = { lat: 4.6097100, lng: -74.0817500 };
          const marcar = { lat: 4.66667, lng: -74.15 }
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 11,
              center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
              position: marcar,
              map: map,
              title: 'Huerta Tomates',
          });

      }
      */

    var url = "https://localhost:44325/api/Foro/getHuerta";

    let descripcion = [];
    let long = [];
    let lati = [];


    function initMap() {



        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 11,
            center: { lat: 4.6097100, lng: -74.0817500 },
        });

        fetch(url).then(function (response) {
            return response.json();
        }).then(function (data) {
            document.getElementById("direccion").innerHTML = "";
            document.getElementById("descripcion").innerHTML = "";
            document.getElementById("latitud").innerHTML = "";
            document.getElementById("longitud").innerHTML = "";


            var i = 0;
            do {
                let divDireccion = document.createElement("div");
                divDireccion.innerHTML = data[i].ubicacionHuerta;
                //  document.getElementById("direccion").appendChild(divDireccion);
                if (data[i].descHuerta != 'NO APLICA') {
                    let divDescripcion = document.createElement("div");
                    divDescripcion.innerHTML = (i + 1) + ". " + data[i].descHuerta;
                    document.getElementById("descripcion").appendChild(divDescripcion);
                }


                let divLatitud = document.createElement("div");
                divLatitud.innerHTML = data[i].latitud;
                //document.getElementById("latitud").appendChild(divLatitud);

                let divLogitud = document.createElement("div");
                divLogitud.innerHTML = data[i].longitud;
                //document.getElementById("longitud").appendChild(divLogitud);

                descripcion[i] = data[i].descHuerta;

                lati[i] = parseFloat(data[i].latitud);

                long[i] = parseFloat(data[i].longitud);

                i++;

            } while (data[i] != null);


            for (var i = 0; i < descripcion.length; i += 1) {
                console.log("En el índice '" + i + "' hay este valor: " + descripcion[i]);
                console.log("En el índice '" + i + "' hay este valor para latitud: " + lati[i]);
                console.log("En el índice '" + i + "' hay este valor: " + long[i]);
            }

            // Set LatLng and title text for the markers. The first marker (Boynton Pass)
            // receives the initial focus when tab is pressed. Use arrow keys to
            // move between markers; press tab again to cycle through the map controls.


            const position = [];
            const title = [];

            for (var i = 0; i < descripcion.length; i += 1) {

                position[i] = { lat: lati[i], lng: long[i] };
                title[i] = descripcion[i];
            }

            for (var i = 0; i < descripcion.length; i += 1) {
                console.log("En el índice '" + i + "' hay este valor: " + position[i]);
            }



            for (var i = 0; i < descripcion.length; i += 1) {
                const marker = new google.maps.Marker({
                    position: position[i],
                    map,
                    title: `${i + 1}. ${title[i]}`,
                    label: `${i + 1}`,
                    optimized: false,
                });

                marker.addListener("click", () => {
                    infoWindow.close();
                    infoWindow.setContent(marker.getTitle());
                    infoWindow.open(marker.getMap(), marker);
                });

            }








            /*      const tourStops = [
                        [{ lat: lati[1], lng: long[1] }, descripcion[1]],

                    ];

                // Create an info window to share between markers.
                const infoWindow = new google.maps.InfoWindow();
                // Create the markers.
                tourStops.forEach(([position, title], i) => {
                    const marker = new google.maps.Marker({
                        position,
                        map,
                        title: `${i + 1}. ${title}`,
                        label: `${i + 1}`,
                        optimized: false,
                    });
                    // Add a click listener for each marker, and set up the info window.
                    marker.addListener("click", () => {
                        infoWindow.close();
                        infoWindow.setContent(marker.getTitle());
                        infoWindow.open(marker.getMap(), marker);
                    });
                });*/


        })



    }
</script>


<div class="main">
    <center>
        <h1>Localización de las huertas</h1>
    </center>

    <div class="row">
        <div class="form-group col-9" id="map">

        </div>

        <div class="form-group col-3 mb-2 h5" id="descripcion">
        </div>

    </div>



    <div id="direccion"></div>

    <div id="latitud"></div>

    <div id="longitud"></div>




    <br />
    <br />
    <br />


</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZa00aHOWQX0T97gIrY42wXQN3VIYwslc&callback=initMap&libraries=&v=weekly"
        async></script>