@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacidad</h1>
<br />
<div style="text-align:center">
    <img src="~/Imagenes/logo5.png" height="300"/>
</div>
<br />
<br />
<p style="text-align:center">Página de Huertbog - Softsystems - 2021 - Todos los derechos resevados</p>
