@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "pruebaGeolocation";

}


<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">

            <h3 class="masthead-brand">Añadir información de la huerta</h3>
            <p>
                Ingrese la información necesaria sobre la huerta. Para añadir la ubicación arrastre el cursor rojo del mapa
                hasta la localización deseada, también puede ingresar la dirección, ciudad o barrio para ubicar su huerta 
                en el mapa, luego dele click en el botón "Guardar" para actualizar la información.
            </p>

            <div class="nav nav-masthead justify-content-center">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="txtDireccion" class="form-control" placeholder="direccion">

                    </div>
                    <div class="col-md-4">
                        <input type="text" id="txtCiudad" class="form-control" placeholder="ciudad">
                    </div>
                    <div class="col-md-4">

                        <input type="text" id="txtEstado" class="form-control" placeholder="barrio">
                    </div>
                </div>

            </div>
        </div>
    </header>
    <main role="main" class="inner cover">
        <div class="row">
            
        </div>
        <br />

        <form asp-controller="UsuariosControllerMVC" asp-action="">
            <div class="row">
                <div id="map_canvas" style="height:400px" class="col-8">

                </div>
                <div class="col-4 form-group">
                    <label class="h3">Información de la huerta: </label>
                    <label>Dirección</label>
                    <input type="text" class="form-control mb-2" placeholder="Ej: Cll 127 #18-29">
                    <label>Descripción de la huerta</label>
                    <input type="text" class="form-control mb-2" placeholder="Ej: Siembra de zanahorias">
                    <label>Área de cultivo</label>
                    <input type="text" class="form-control mb-2" placeholder="Ej: 3, 5.6, 8">
                    <label>Latitud</label>
                    <input type="text" id="txtLat" class="form-control" placeholder="latitud">
                    <label>Longitud</label>
                    <input type="text" id="txtLng" class="form-control" placeholder="longitud">
                    <input type="submit" value="Actualizar" class="btn btn-primary text-center" />
                </div>
                
            </div>
        </form>
    </main>
    <br />
    <br />

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZa00aHOWQX0T97gIrY42wXQN3VIYwslc&callback=initMap&libraries=&v=weekly"
        async></script>


<script>
    var vMarker
    var map
    map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 14,
        center: new google.maps.LatLng(4.6097100, -74.0817500),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    vMarker = new google.maps.Marker({
        position: new google.maps.LatLng(4.6097100, -74.0817500),
        draggable: true
    });
    google.maps.event.addListener(vMarker, 'dragend', function (evt) {
        $("#txtLat").val(evt.latLng.lat().toFixed(6));
        $("#txtLng").val(evt.latLng.lng().toFixed(6));

        map.panTo(evt.latLng);
    });
    map.setCenter(vMarker.position);
    vMarker.setMap(map);

    $("#txtCiudad, #txtEstado, #txtDireccion").change(function () {
        movePin();
    });

    function movePin() {
        var geocoder = new google.maps.Geocoder();
        var textSelectM = $("#txtCiudad").text();
        var textSelectE = $("#txtEstado").val();
        var inputAddress = $("#txtDireccion").val() + ' ' + textSelectM + ' ' + textSelectE;
        geocoder.geocode({
            "address": inputAddress
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                vMarker.setPosition(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                map.panTo(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                $("#txtLat").val(results[0].geometry.location.lat());
                $("#txtLng").val(results[0].geometry.location.lng());
            }

        });
    }
</script>