
@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="~/css/estilos.css" />
<!--  <script src="~/js/site.js"></script> -->
<!--
     <div class="main mb-5">
      <h1>útlimas publicaciones </h1>
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" href="#">Todos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Ofrecimiento y solicitudes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Generales</a>
          </li>
      </ul>
    falta div
-->
<!--Ariculos-->
<div class="sidenav">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Inicio</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="UsuariosControllerMVC" asp-action="login">Categorias</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="UsuariosControllerMVC" asp-action="login">Mapa huertas</a>
</div>


<div class="main">
    <div class="container mb-5">
        <ul class="nav nav-tabs col-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link active" href="#">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ofrecimiento y solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Generales</a>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-12 col-md-9">
                <!--Un articulo-->
                <div class="row mb-4">
                    <div class="col-3">
                        <img src="~/Imagenes/1.jpg" alt="" class="img-fluid">
                        <a href="#" class="lead text-center">Ubicación</a>
                    </div>
                    <div class="col-9">

                        <a class="h3" href="#" id="divTitulo"></a>

                        <p id="divDescripcion"></p>

                        <a href="mailto:">Contactarse: <label id="divCorreo"></label></a>
                    </div>
                </div>
                <!--Fin articulo-->
               
                
                <!--Barra números-->

                <div class="btn-toolbar d-flex justify-content-center mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a asp-controller="Home" asp-action="index"> <button type="button" class="btn btn-primary active">Inicio</button> </a>
                        <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button>
                        <button type="button" class="btn btn-primary">4</button>
                        <button type="button" class="btn btn-primary">Final</button>
                    </div>
                </div>


            </div>
            <!--aside-->
            <div class="col-3">

            </div>
            <!--Fin aside-->
        </div>
    </div>
</div>

<!--
    <form>

    <input type="button" value="Send" onclick="get();">
</form>
<hr>
<div id="divlista">
</div>
<br>
<br>
<br>
-->