@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Útlimas publicaciones</h1>
    <div>
        <a class ="float-right" asp-controller="UsuariosControllerMVC" asp-action="post">Registrar usuario</a>
    </div>
    <div>

    </div>
    <div>
        <a class="float-right" asp-controller="UsuariosControllerMVC" asp-action="get">Iniciar sesión |</a>
    </div>
</div>


