@{
    ViewData["Title"] = "Home Page";
}


   


        
            <section>
                

                <div class="main">
                    <form>
                        <h1>Útlimas publicaciones</h1>
                        <p>



                        </p>
                        <input type="button" value="Send" onclick="get();">
                    </form>
                    <hr>
                    <div id="divlista">
                    </div>
                </div>
            </section>
       
  
    



