@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>conexion base de datos</h1>
    <p>Scaffold-DBContext "Server=//cambiar esta parte//;Database=HUERBOG;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models</p>
</div>
