@model Huerbog.Models.Request.ForoTemaModel

@{
    ViewData["Title"] = "CrearPublicacion";
    Layout = "_LayoutRegistrado";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav.css" />
<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "160px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a href="#">Categorias</a>
    <a href="#">Mapa Huertas</a>
</div>

<!-- Use any element to open the sidenav -->

<button asp-for="Reacciones" onclick="openNav()" class="fas fa-align-justify"></button>


<div class="main">
    <h1>Crear Publicacion</h1>

    <h4>
        Recuerde crear publicaciones con respecto al tema de las huerta y siga siempre los lineamientos de la comunidad.
        Tenga en cuenta que debe indicar el tipo de publicación; General cuando las publicaciones sean de temas donde no
        se vean involucradas operaciones de comercio y Comercio cuando el contenido de la publicación esté relacionada
        con el intercambio de servicios o productos.
    </h4>

    <hr />
    <div class="row">
        <div class="col-12 col-md-9">
            <form enctype="multipart/form-data" asp-action="createPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group h4">
                    <label asp-for="TituloPost" class="control-label">Título</label>
                    <input asp-for="TituloPost" class="form-control" />
                    <span asp-validation-for="TituloPost" class="text-danger"></span>
                </div>

                <div class="form-group h4">
                    <label asp-for="DescPost" class="control-label">Descripción</label>
                    <input asp-for="DescPost" class="form-control" />
                    <span asp-validation-for="DescPost" class="text-danger"></span>
                </div>

                <div class="form-group h4">
                    <label asp-for="Contenido" class="control-label">Contenido detallado</label>
                    <textarea rows="5" asp-for="Contenido" class="form-control"></textarea>
                    <span asp-validation-for="Contenido" class="text-danger"></span>
                </div>
                <div class="form-check form-check-inline">

                    <label class="control-label h4">Categoría de la publicación:</label><br />
                    <div class="form-check">
                        <label class="form-check-label h5" for="exampleRadios2">
                            General
                        </label>
                        <input class="form-check-input" type="radio" asp-for="IdCatPublFk" value="1" />
                        <span asp-validation-for="IdCatPublFk" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label h5" for="exampleRadios2">
                            Comercio
                        </label>
                        <input class="form-check-input" type="radio" asp-for="IdCatPublFk" value="2" />
                        <span asp-validation-for="IdCatPublFk" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group h4">
                    <label asp-for="ContentFile" class="control-label">Imagen:</label><br />
                    <input class="form-control-file" multiple asp-for="ContentFile" type="file" />
                </div>
                <div class="form-group h4">
                    <input type="submit" value="Crear publicación" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-controller="ForoControllerMVC" asp-action="IndexForoListUserLog">Regresar</a>
    </div>
    <br />
    <br />
</div>


<!--
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.form-control-file').on("change", function () {
                console.log($(this));

                /*var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' archivo seleccionado');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }*/
            });
        });
    </script>
}-->
