@model Huerbog.Models.Request.UserHuertaModel

@{
    ViewData["Title"] = "post";
}

<head>
    <style>
        .column {
            float: left;
            width: 33.33%;
        }

        .left {
            width: 33%;
        }

        .middle {
            width: 33%;
        }

        .right {
            width: 33%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>Registro de Usuario</h1>

        <h4>
            Ingrese los datos en los campos señalados, si no es dueño o administrador de una huerta puede dejar los campos con
            respecto a la huerta en blanco.
        </h4>
        <hr />
        <div class="row mt-4">
            <div class="col-sm-12">
                @if (TempData["alert"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@TempData["alert"]</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
        </div>
        <div>
            <div>
                <h2>
                    <strong>@ViewBag.message</strong>
                </h2>
            </div>
            <div>
                <form asp-action="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" required placeholder="Pepe" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input asp-for="Apellido" class="form-control" required placeholder="Grillo" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Correo" class="control-label"></label>
                            <input asp-for="Correo" class="form-control" type="email" required placeholder="ejemplo@mail.com" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Contraseña" class="control-label"></label>
                            <input asp-for="Contraseña" class="form-control" type="password" required placeholder="Contraseña" />
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Red" class="control-label"></label>
                            <input asp-for="Red" class="form-control" placeholder="Ej: Huerteros de Bosa" />
                            <span asp-validation-for="Red" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input asp-for="Telefono" class="form-control" type="tel" required placeholder="3187126721" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input hidden asp-for="UbicacionHuerta" class="form-control"/>
                            <span asp-validation-for="UbicacionHuerta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="DescHuerta" class="form-control" placeholder="Ej: Siembra de zanahorias" />
                            <span asp-validation-for="DescHuerta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="AreaCultivo" class="form-control" placeholder="Ej: 3, 5.6, 8" />
                            <span asp-validation-for="AreaCultivo" class="text-danger"></span>
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <input type="submit" value="Registrarse" class="btn btn-primary" onclick="mensaje();" asp-controller="UsuariosControllerMVC" asp-action="post" />
                        </div>
                    </center>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="ForoControllerMVC" asp-action="IndexForoList">Regresar</a>

        </div>
    </div>
    <script src="../js/site.js"></script>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}